h2{
  margin-top: 0;
}
.head-bottom{
  width: 100%;
  height: 2rem;
  background: url(../images/b15.jpg) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .bt{
    width: auto;
    height: 0.8rem;
    overflow: hidden;
  }
  @keyframes headan {
    100%{
      margin-top: 0;
    }
  }
  h2{
    font-size: 0.35rem;
    margin:1rem auto 0;
    text-shadow: 0px 3px 3px pink,0px -3px 3px pink;
    animation: headan 0.5s forwards;
  }
  p{
    font-size: 0.2rem;
    margin-top: 1rem;
    animation: headan 0.5s 0.3s forwards;
  }
}
.main{
  padding: 0.3rem 0;
  .tab{
    width: 2.4rem;
    height: 0.3rem;
    margin:  0 auto 0.3rem;
    display: flex;
    justify-content: space-between;
    .act{
        background: brown;
        color: white;
    }
    span{
    border-radius: 5px;
      display: inline-block;
      width: 1rem;
      height: 100%;
      // background: rgb(196, 159, 159);
      line-height: 0.3rem;
      text-align: center;
      border: 1px solid #333;
      font-size: 0.18rem;
      transition: all 0.3s;
      &:hover{
        background: brown;
        color: white;
      }
    }
  }
  .tab-item{
    width: 100%;
    // margin-top: 0.3rem;
    .offer{
      overflow: hidden;
      width: 100%;
      height: 4rem;
      //  rgb(0, 255, 34)
      background: rgba(20,255,24,0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      position:relative;
      filter: contrast(10);
      @keyframes rotate {
        100%{
          transform: rotate(360deg);
        }
      }
      @keyframes nirotate {
        100%{
          transform: rotate(-360deg);
        }
      }
      .water{
        filter: blur(8px);
        width: 2rem;
        height: 2rem;
        border-radius: 0.6rem;
        background: rgb(71, 243, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        animation: rotate 5s infinite linear;
        div{
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 0.4rem;
          background: rgb(223, 189, 189);
          animation: nirotate 3s infinite linear;
        }
      }
      @keyframes move {
        100%{
          left:50%;
          top: 50%;
        }
      }
      .s-water{
        width: 0.3rem;
        height: 0.3rem;
        background: rgb(71, 243, 255);
        position: absolute;
        border-radius: 50%;
        left: 0;
        color: rgb(0, 0, 0);
        // animation: move 5s infinite;
        // animation-delay:;
        filter: blur(8px);
        z-index: -1;
      }
    }
    .big{
      h3{
        text-align: center;
        font-size: 0.2rem;
        display: none;
        .texts{
          @keyframes dazi {
            0%{
              opacity: 0;
            }
            100%{
              opacity: 1;
            }
          }
          &::after{
            content: " ";
            display: inline-block;
            width: 3px;
            height: 0.2rem;
            background: black;
            animation: dazi 0.8s infinite steps(2);
          }
        }
      }
      form{
        width: 100%;
        textarea{
          display: block;
          width: 50%;
          height: 3rem;
          margin: 0.3rem auto;
        }
        .btn{
          display: block;
          margin: 0 auto;
          width: 0.8rme;
          height: 0.3rem;
          border: 1px solid #333;
        }
      }
    }
    .hunter{
      display: none;
      margin-top: 0.3rem;
      h3{
          text-align: center;
          color: brown;
          font-size: 0.25rem;
        }
      .renwu{
        width: 60%;
        margin: 0 auto;
        height: 2.5rem;
        overflow: scroll;
        @keyframes opty {
          0%{
            opacity: 0;
            height: 0;
          }
          100%{
            opacity: 1;
            height: 0.5rem;
          }
        }
        li{
          width: 100%;
          position: relative;
          list-style-type: none;
          border-bottom: 1px solid #333;
          transition: all 0.2s;
          &:hover{
            background: rgb(165, 255, 188);
          }
          animation: opty 0.5s forwards;
          span{
            line-height: 0.5rem;
            &:nth-child(1){
              position: absolute;
              left: 0.1rem;
            }
            &:nth-child(3){
              position: absolute;
              right: 0.1rem;
              color:#666;
            }
            &:nth-child(2){
              display: inline-block;
              width: 100%;
              text-align: center;
            }
          }
        }
      }
      .go{
        width: 0.8rem;
        height: 0.35rem;
        background: rgb(129, 35, 55);
        margin: 0.3rem auto;
        text-align: center;
        line-height: 0.35rem;
        color: white;
        border-radius: 10px;
        &:hover{
          background: rgb(194, 52, 83);
        }
      }
    }
  }
}